{{ define "title" -}}
{{ .Title }}
<h2> Introduction </h2>
<p>Hi, I'm Axel Vanherle, a Computer Engineering student at PXL. This is my little slice of the internet where I explore tech and share insights, take a look around.</p>

<h3>Check these out!</h3>
 <ul>
	 <li><a href="/blog">Blogposts</a></li>
	 <li><a href="/about">About me</a></li>
	 <li><a href="/contact">Contact me</a></li>
	 <li><a href="/programs">Programs i use</a></li>
</ul> 	

<br><hr><br>

<h2> Recent blogposts </h2>

{{ range ( first 3 ( where .Site.Pages "Type" "blog" ).ByDate ) }}
  <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
{{ end }}
{{- end }}
