{{ define "title" -}} {{ .Title }}

<h2>Introduction</h2>
<div class="content-wrapper">
    <div class="text-content">
        <p>
            Hi, I'm Axel Vanherle, studying Industrial Engineering at UHasselt & KULeuven. Care to know more? Check out my <a href="/about">About me</a>.
            <br />
            <br />

            Curious about the source code of this site? <a href="https://github.com/axelvanherle/axelvanherle.github.io"
                title="github repo">Take a look.</a><br />

            Curious about my current resume? You can find it <a href="https://raw.githubusercontent.com/axelvanherle/axelvanherle.github.io/refs/heads/main/content/axelvanherle_resume.pdf" target="_blank" rel="noopener noreferrer">here</a>.

        </p>
    </div>
    <div class="image-content">
        <img src="/img/axel2.webp" alt="Axel Vanherle" width="80%" />
        <p>Me.</p>
    </div>
</div>

<h3>Index</h3>
<ul>
    <li><a href="/blog">All my blogposts</a></li>
    <li><a href="/about">About me</a></li>
</ul>

<br />
<hr />
<br />

<h1>Recent blogposts</h1>

{{ range first 5 (where .Site.RegularPages "Section" "blog") }}
<article>
    <p><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
    <p style="font-size: 0.8em">{{ .Summary }}</p>
    <p style="font-size: 0.8em"><a href="{{ .RelPermalink }}">Read More</a></p>
    <br />
</article>
{{ end }}

<br />
<hr />
<br />

{{- end }}
